body{
    
    background-color: darkslategray;
    overflow: hidden;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


#canvas{
    
    cursor: default;
    position: absolute;
    top: 52;
    left: 0;
    background-color:lightgray;
       
}

#scoreBar{
    
    height: 50px;
    width: 100%;
    background-color: gray;
    position: absolute;
    left:0;
    top:0;
        
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
    
}

#score{
    
    font-family: monospace;
    margin-right: 20px;
    margin-left: 20px;
    line-height: 50px;
    font-size: 20px;
    color: whitesmoke;
    font-weight: bolder;
    
}

#lives{
    
    font-family: monospace;
    margin-right: 20px;
    margin-left: 20px;
    line-height: 50px;
    font-size: 20px;
    color: white;
    font-weight: bolder;
    
}

#stop{
    
    position: absolute;
    left:550;
    top: 20;
    z-index: 10;
        
}

#start{
    
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    background-color: limegreen;
    color: white;
    border-style: none;
     
}

#start:hover{
    
    cursor: pointer;
    color: whitesmoke;
    opacity: 0.99;
    
}



